// Put any @imports here
// See Readme for a list of supported ones

@import "foundation";

body {
  background: #FAFAFA;
}

.top-bar {
  background: #FFFFFF;
  height: 3rem;

  .title-area .name a {
    color: #84878B;
    font-size: 1.1rem;

  }
}

nav {
  border-bottom: 1px solid #cccccc;

  .top-bar-section .right {
    // border-bottom: 1px solid #cccccc;
    height: 25px;
  }

  .top-bar-section li a:not(.button) {
      background: #FFFFFF !important;
      color: #84878B; 
      font-size: 0.90rem 
  }

  .top-bar-section li a:not(.button):hover {
      background: #FFFFFF !important;
      color: #84878B;   
  }

  .top-bar-section ul li.active > a {
      background: #FFFFFF !important;   
  }

  .top-bar-section ul li.active > a:hover {
      background: #FFFFFF !important;   
  }
  

}

.container {
  width: 400px;
  margin-top: 20px;
  margin-left: 20px;
}

.list {
  margin: 10px;

  h4 {
    color: #4B4F5A;
  }

  ul {
    list-style: none;
    margin: 0;
  }

  li a {
    color: #AFAFAF;
  }
}

.single {

  h4 {
    color: #4B4F5A;
  }

  p {
    color: #AFAFAF;
  }

  a {
    color: #84878B;
    padding-right: 10px;
  }
}

.about {

  h4 {
    color: #4B4F5A;
  }

  p {
    color: #AFAFAF;
  }
}

.add {

  h4 {
    color: #4B4F5A;
  }

  form {

    input {
      box-shadow: none;
      border-radius: 3px;
      background: #FFFFFF;

    }

    button {
      padding: 10px 28px 11px 28px;
      border-radius: 3px;
      background-color: #D4D4D4;
      font-size: 16px;
    }
  }

}

.edit {
    h4 {
    color: #4B4F5A;
  }

  form {

    input {
      box-shadow: none;
      border-radius: 3px;
      background: #FFFFFF;

    }

    button {
      padding: 10px 12px 11px 12px;
      border-radius: 3px;
      background-color: #D4D4D4;
      font-size: 16px;
    }
  }
}
