// Put any @imports here
// See Readme for a list of supported ones

@import "foundation";



body {
  background: #F3F3F3;
}

.container {
  width: 400px;
  margin-top: 20px;
  margin-left: 20px;
}

ul {
  list-style: none;

  a {
    color: #AFAFAF;
  }
}