// Put any @imports here
// See Readme for a list of supported ones

@import "foundation";



body {
  background: #FAFAFA;
}

.container {
  width: 400px;
  margin-top: 20px;
  margin-left: 20px;
}


.top-bar {
  background: #FFFFFF;

  .title-area .name a {
    color: #84878B;

  }
}

.top-bar-section .right {
  li a {
    background: #FFFFFF;
    color: #84878B;
  }
}


ul {
  list-style: none;

  a {
    color: #AFAFAF;
  }
}

.container h3 {
  color: #4B4F5A;
}